# This file gets sourced by direnv when changing into a directory (and its sub-directories) and subsequently un-sourced when leaving 
# Use this file to set environment variables needed by your application 
# For example, this would set 3 environment variables as needed for MagPIE
# ---------------------------------------------
# export GETS_URI_CLOSED=RfisClosed.xml
# export GETS_URI_OPEN_PENDING=RfisNewOpen.xml
# export GETS_REQUEST_TIME_FRAME_IN_DAYS=30
# ---------------------------------------------
